a
    color: inherit
    text-decoration: none
li
    list-style-type: none

.container
    max-width: 1200px
    margin: 0 auto
    
.header
    min-height: 113px
    background-color: #0A0A0A
    &__inner
        display: flex
        justify-content: space-between       
        color: #717171
        font-size: 24px
        font-weight: 400
        padding-top: 33px 
    &__list
        display: flex
    &__list-item
        &:not(:last-child)
            margin-right: 30px

.change
    padding: 70px 0 40px 0
    background-color: #F5F5F7
    &__inner
        display: flex
        flex-direction: column
        align-items: center
    &__title
        color:#490E84
        font-size: 64px
        font-weight: 700
        margin-bottom: 40px
    &__img
        margin-bottom: 25px
    &__button
        color:#FFF
        font-size: 24px
        font-weight: 700
        padding: 22px 118px
        border-radius: 30px
        background:#490E84

.new
    padding: 87px 0 150px 0
    &__title
        text-align: center
        margin-bottom: 50px
    &__wrapper
        display: flex
        .wrapper__text-item
            width: 550px
            font-size: 14px
            font-weight: 400
            line-height: 130%
            &:not(last-child)
                margin-bottom: 30px
            &:last-child
                font-size: 20px
                font-weight: 700
                line-height: 130%
        .wrapper__text-img
            margin: 0 0 40px 190px